@use "../abstracts" as a;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: a.$roboto;
  font-size: a.$font-smed;
  background-color: a.$color-primary-light;
}
