@use "../abstracts" as a;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: a.$gloock;
  font-size: 1.4rem;
}
