@use "../abstracts" as a;

.heading-primary {
  color: a.$color-secondary-dark;
  font-family: a.$gloock;
  font-size: a.$font-large;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;

  @include a.respond(desktop) {
    font-size: a.rem(28);
  }
}

.heading-secondary {
  color: a.$color-secondary-dark;
  font-family: a.$gloock;
  font-size: a.$font-med;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1px;

  @include a.respond(desktop-large) {
    font-size: a.rem(18);
  }
  @include a.respond(desktop) {
    font-size: a.$font-smed;
  }
  @include a.respond(desktop-small) {
    font-size: a.$font-small;
  }
}

.navigation-heading {
  font-family: a.$gloock;
  font-size: a.$font-med;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: end;

  @include a.respond(desktop-small) {
    font-size: a.rem(18);
  }
}
