@use "../abstracts" as a;
.hero {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    ". img img"
    ". img img"
    "desc img img";

  &__description {
    grid-area: desc;
    align-self: flex-start;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: a.$gap-large;
  }

  &__buttons {
    display: flex;
    gap: a.$gap-med;
  }

  &__image {
    height: 100%;
    grid-area: img;
    justify-self: end;
  }
  // &__grid {
  //   grid-area: img;
  //   height: 100%;
  //   width: 75%;

  //   display: grid;
  //   gap: a.$gap-med;

  //   grid-template-columns: repeat(11, [col-start] 1fr [col-end]);
  //   grid-template-rows: repeat(10, [row-start] 1fr [row-end]);
  // }

  // &__box {
  //   border-radius: a.rem(20);
  //   overflow: hidden;

  //   &--1 {
  //     @include a.gridlayout(3, 3, 2, 2, a.$color-white);
  //   }

  //   &--2 {
  //     @include a.gridlayout(4, 5, 1, 2, a.$color-primary);
  //   }

  //   &--3 {
  //     @include a.gridlayout(6, 9, 1, 5, a.$color-white);
  //   }

  //   &--4 {
  //     @include a.gridlayout(1, 2, 3, 4, a.$color-primary);
  //   }
  //   &--5 {
  //     @include a.gridlayout(3, 5, 3, 5, a.$color-white);
  //   }
  //   &--6 {
  //     @include a.gridlayout(10, 10, 3, 3, a.$color-tertiary-light);
  //   }
  //   &--7 {
  //     @include a.gridlayout(10, 11, 4, 5, a.$color-secondary);
  //   }
  //   &--8 {
  //     @include a.gridlayout(2, 2, 5, 5, a.$color-white);
  //   }
  //   &--9 {
  //     @include a.gridlayout(8, 11, 6, 8, a.$color-white);
  //   }
  //   &--10 {
  //     @include a.gridlayout(5, 7, 6, 9, a.$color-white);
  //   }
  //   &--11 {
  //     padding: a.$gap-med 0;
  //     @include a.gridlayout(2, 4, 6, 8, a.$color-secondary-light);
  //   }
  //   &--12 {
  //     @include a.gridlayout(2, 2, 9, 9, a.$color-secondary-light);
  //   }
  //   &--13 {
  //     @include a.gridlayout(3, 4, 9, 10, a.$color-tertiary);
  //   }
  //   &--14 {
  //     @include a.gridlayout(8, 9, 9, 10, a.$color-secondary);
  //   }
  //   &--15 {
  //     @include a.gridlayout(10, 10, 9, 9, a.$color-white);
  //   }
  // }

  // &__image {
  //   height: 100%;
  //   width: 100%;
  // }
}
