@use "../abstracts" as a;
.hero {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    ". img img"
    ". img img"
    "desc img img";

  @include a.respond(tab-land) {
    grid-template-areas:
      ". img img"
      ". img img"
      "desc desc .";
    gap: a.$gap-med;
  }

  @include a.respond(tab-port) {
    height: auto;
    grid-template-areas:
      "img img img"
      "img img img"
      "desc desc desc";
    gap: a.$gap-large;
  }

  @include a.respond(phone) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) a.rem(10) 1fr;
    grid-template-areas:
      "img img img"
      "img img img"
      "b b b"
      "desc desc desc";
  }
  @include a.respond(phone-small) {
    grid-template-rows: repeat(2, 1fr) a.rem(20) 1fr;
  }

  &__description {
    grid-area: desc;
    align-self: flex-start;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: a.$gap-large;

    @include a.respond(tab-port) {
      align-self: stretch;
      width: auto;
    }
    @include a.respond(phone) {
      align-self: stretch;
      width: 80%;
    }
  }

  &__buttons {
    display: flex;
    gap: a.$gap-med;
  }

  &__image {
    height: 100%;
    grid-area: img;
    justify-self: end;

    @include a.respond(desktop) {
      height: 90%;
    }
    @include a.respond(desktop-small) {
      height: 75%;
    }
    @include a.respond(tab-land) {
      height: 100%;
    }

    @include a.respond(tab-port) {
      padding-top: a.$gap-large;
      justify-self: center;
      height: auto;
      width: 75%;
    }
    @include a.respond(phone) {
      width: 90%;
    }
    @include a.respond(phone-small) {
      padding-top: a.$gap-large;
      width: 100%;
    }
  }
}
