@use "../abstracts" as a;
.footer {
  &__logo {
    height: a.rem(100);

    padding: a.$gap-small;
  }
  &__link {
    color: a.$color-primary;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: a.$color-tertiary;
    }
  }
}
