@use "../abstracts" as a;

.navigation {
  &__menu {
    @include a.btn(a.$color-white, a.$color-primary, a.$color-secondary-light);
    height: a.rem(400);
    width: a.rem(300);

    padding: a.$gap-med;
    border-radius: a.rem(20);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: a.$gap-smed;

    position: absolute;
    top: -400%;
    left: 8%;

    transition: all 0.2s;

    &:hover:not(.open) {
      transform: translatey(a.$gap-small);

      @media (hover: none) {
        transform: none;
      }
    }

    @include a.respond(desktop-small) {
      width: a.rem(260);
      top: -460%;
    }

    @include a.respond(tab-land) {
      width: a.rem(240);
      top: -510%;
    }

    @include a.respond(tab-land-small) {
      width: a.rem(200);
      top: -510%;
    }

    @include a.respond(tab-port) {
      width: 100vw;
      border-radius: a.rem(10);
      gap: a.$gap-small;
      top: -125%;
      left: 0;
    }

    @include a.respond(phone-large) {
      top: -125%;
    }

    @include a.respond(phone) {
      top: -125%;
    }
  }

  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;

    & li:not(:last-child) {
      border-bottom: 1px solid a.$color-primary-light;
    }
  }

  &__link {
    display: block;
    font-size: a.$font-smed;
    font-weight: 600;
    line-height: 1.6;
    color: inherit;
    text-align: center;
    text-decoration: none;

    padding: a.$gap-smed a.$gap-med;

    transition: all 0.3s ease-out;

    &:hover,
    &:active {
      transform: scale(120%);
      color: a.$color-tertiary;
    }
  }

  &__logo {
    width: a.rem(150);

    @include a.respond(tab-land-small) {
      width: a.rem(100);
    }

    @include a.respond(tab-port) {
      width: a.rem(150);
    }
  }

  &__header {
    margin: a.$gap-smed a.$gap-xlarge;
  }
}

#navigation__icon {
  font-size: a.$font-med;
  color: a.$color-secondary-light;
  cursor: pointer;

  @include a.respond(tab-land) {
    font-size: a.$font-smed;
  }
  @include a.respond(tab-port) {
    font-size: a.$font-large;
  }
  @include a.respond(phone-large) {
    font-size: a.$font-med;
  }
}

.open {
  top: 175%;

  @include a.respond(desktop-small) {
    top: 140%;
  }

  @include a.respond(tab-port) {
    height: 100vh;
    top: -1%;
    justify-content: center;
    gap: a.$gap-med;
  }

  & .navigation__links li .navigation__link {
    @include a.respond(tab-port) {
      font-size: a.$font-large;
    }
  }
}
